.lista-opciones label {
    font-family:'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    display:block;
    margin-bottom: 8px;
}    
.lista-opciones select {
    width: 100%;
    padding: 30px 20px;
    background-color: #FFF;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 10%);
    border-radius: 5px;
    border: none;
    outline-color: #6278F7;
    font-size: 16px;
}